body{
	width: 100%;
	margin: 0%;
	background-color: gray;
	color: white;
	overflow-x: hidden;
}::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}li{
	text-decoration: none;
	list-style-type: none ;
}.menu{
	margin: 0%;
	padding: 0%;
}.menu button{
	width: 100px;
}.page{
	width: 100%;
	margin: 0%;
	padding: 0%;
	border: none;
}.page li{
	margin: 0%;
	padding: 0%;
}.page .tab1_home, .tab2_educ, .tab3_achieve{
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
}.tab1_home{
	width: 100%;
	margin: 0%;
	display: block;
}.header{
	width: 100%;
	height: 750px;
	margin: 0% 0% 1% 0%;
	padding: 0%;
	display: block;
	position: relative;
	background-color: black;
	overflow-y: hidden;
}#header_image{
	width: 50%;
	margin: 0% 0% 0% 50%;
	position: absolute;
}.wala{
	width: 44%;
	height: 900px;
	margin: 0% 50% 0% 0%;
	padding: 0% 3%;
	float: left;
	position: absolute;
	background-color: none;
}.wala h1{
	transform: translate(+5%, +4%);
	font-size: 100px;
	text-align: left;
	line-height: 100px;
}.card{
	width: 100%;
	margin: 0;
	height: 520px;
	display: block;
	background-color: black;
}.card_image{
	width: 25%;
	height: 350px;
	margin: 4% 60% auto 10%;
	position: absolute;
	border: 1px solid black;
}.card_image img{
	width: 95%;
	height: 100%;
	margin: 0% 0%;
	transform: translate(+10%, 0%);
	border-radius: 50%;
	border: 5px solid red;
}.socmed{
	width: 50%;
	height: 30px;
	position: absolute;
	margin: 3% 10% 0% 40%;
	border: 1px solid black;
}.socmed a:last-child{
	margin-right: 55%;
}.socmed a{
	margin: 0 5px;
	font-size: 30px;
	color: red;
}.card_text{
	width: 50%;
	height: inherit;
	margin: 0 10% 0 40%;
	padding: 3% 0% 0% 0%;
	position: absolute;
	text-align: center;
}.card_text h1{
	font-size: 40px;
}.quote{
	width: 80%;
	height: 330px;
	margin: 0%;
	padding: 1.5% 10%;
	display: block;
	background-color: black;
}.quote h1{
	font-size: 50px;
}.quote h3{
	font-size: 30px;
}.gallery{
	width: 100%;
	height: 500px;
	margin: 0%;
	padding: 2% 0%;
	background-color: black;
}.video{
	width: 720px;
	height: 360px;
	float: right;
	margin: 2% 10% 2% 0%;
	border: 1px black solid;
}.def{
	width: 80%;
	padding: 2% 10%;
	text-align: center;
	background-color: black;
}.def .level{
	font-size: 45px;
}.def .logo{
	height: 400px;
}.def .school{
	font-size: 60px;
	transform: translateY(-50%);
}.def .info1{
	font-size: 25px;
	margin-top: -5%;
}.def .picsi{
	height: 400px
}.awardes{
	width: 100%;
	height: 4000px;
	border: 1px solid black;
	display: block;
}.blockade .certificate{
	width: 45%;
	margin: 2.5%;
}.blockade .carousel{
	width: 45%;
	margin: 2.5%;
}.awardes .certs{
	height: 400px;
}.carousel{
	width: 50%;
	margin: 5px;
	position: absolute;
}.carousel img{
	height: 400px;
}.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
 