@charset "utf-8";
@import url("fontawesome-free/css/fontawesome-all.min.css");
@import url("framework.css");
.row0, .row0 a{}
.row1, .row1 a{}
.row2, .row2 a{}
.row3, .row3 a{}
.row4, .row4 a{}
.row5, .row5 a{}
#topbar{padding:20px 0; font-size:.8rem; text-transform:uppercase;}

#topbar ul li{display:inline-block; margin-right:15px;}
#topbar ul li:last-child{margin-right:0; padding-right:0; border-right:none;}
#topbar i{line-height:normal;}
#topbar > div:nth-of-type(2) i{font-size:1rem;}


#header{}
#header #logo{margin:30px 0 0 0;}
#header #logo h1{margin:0; padding:0; font-size:40px; text-transform:uppercase;}


#pageintro{padding:200px 0 300px;}

#pageintro article, #pageintro article p{display:block; max-width:75%; margin:0 auto; text-align:center;}
#pageintro article p{max-width:65%; line-height:2rem;}
#pageintro .heading{margin-bottom:20px; font-size:4rem;}
#pageintro footer{margin-top:50px;}

#introblocks{position:relative; z-index:1;}
#introblocks > ul{display:block; margin:-180px 0 0; text-align:center;}
#introblocks article{display:block; padding:30px; text-align:center;}
#introblocks article > a{}
#introblocks article i{display:inline-block; position:relative; width:45px; height:45px; line-height:43px; margin-bottom:30px; font-size:16px; text-align:center; border:1px solid; border-radius:50%;}
#introblocks article .heading{font-size:1.2rem; font-weight:700;}
#introblocks article .heading.underline::after{left:50%; margin-left:-12%;}


.container{padding:80px 0;}


.container .content{}

.sectiontitle{display:block; max-width:55%; margin:0 auto 80px; text-align:center;}
.sectiontitle *{margin:0;}


.overview{}
.overview > li{margin-bottom:50px;}
.overview > li:nth-last-child(-n+3){margin-bottom:0;}
.overview > li:nth-child(3n+1){margin-left:0; clear:left;}
.overview article{}
.overview article *{margin:0; padding:0;}
.overview article > div{display:block; position:relative; min-height:36px; margin:0 0 20px 0; padding:8px 0 0 55px;}
.overview article > div *{line-height:1;}
.overview article > div i{display:block; position:absolute; top:0; left:0; font-size:36px;}
.overview article > div .heading{}
.overview article p{}


#testimonials{}
#testimonials > li:last-child{margin-bottom:0;}
#testimonials blockquote{display:block; position:relative; width:100%; margin:0 0 30px 0; padding:30px; line-height:1.4; z-index:1; border-radius:10px;}
#testimonials blockquote::before{display:block; position:absolute; top:10px; left:10px; font-family:"Font Awesome\ 5 Free"; font-weight:900; font-size:32px; line-height:32px; content:"\f10d"; z-index:-1;}
#testimonials blockquote::after{display:block; position:absolute; bottom:-15px; left:30px; width:0; height:0; content:""; border:15px solid transparent; border-bottom:none;}
#testimonials figure{}
#testimonials figure *{margin:0; line-height:1;}
#testimonials figure img{float:left; margin:0 15px;}
#testimonials figcaption{float:left; margin-top:10px;}
#testimonials figcaption .heading{font-size:1.2rem; font-weight:700;}
#testimonials figcaption em{font-size:.8rem;}
#testimonials footer{text-align:center;}


#latest{}
#latest article{}
#latest article figure{margin-bottom:30px;}
#latest article figure img{}
#latest article .excerpt{}
#latest article .excerpt .heading{margin:0 0 15px 0; font-size:1.2rem;}
#latest article .excerpt .meta{}
#latest article .excerpt .meta li{display:inline-block; margin:0 3px 0 0; padding:0; font-size:.8rem;}
#latest article .excerpt .meta li:last-child{margin:0;}
#latest article .excerpt .meta li::after{margin-left:8px; content:"|";}
#latest article .excerpt .meta li:last-child::after{margin:0; content:"";}
#latest article .excerpt p{}
#latest article .excerpt footer{margin-top:30px;}


#comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments li{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:smaller;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}


nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"Font Awesome\ 5 Free"; font-weight:900; font-size:10px; line-height:10px;}

/* Top Navigation */
#mainav{}
#mainav ul{text-transform:uppercase;}
#mainav ul ul{position:absolute; width:180px; text-transform:none; z-index:9999;}
#mainav ul ul ul{left:180px; top:0;}
#mainav li{display:block; position:relative; float:left; margin:0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:40px 25px;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:30px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:45px; left:20px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; width:100%; margin:0; padding:0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:none;}
#mainav form select option{margin:5px; padding:0; border:none;}


/* Gallery
--------------------------------------------------------------------------------------------------------------- */
#gallery{display:block; width:100%; margin-bottom:50px;}
#gallery figure figcaption{display:block; width:100%; clear:both;}
#gallery li{margin-bottom:30px;}

body{color:#A5A6AA; background-color:#1C1D21;}
a{color:#FF3F4A;}
a:active, a:focus{background:transparent !important;}
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:#FF3F4A !important;}

.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.55);}
.overlay.light{color:#474747;}
.overlay.light::after{background-color:rgba(255,255,255,.7);}


.heading.underline::after{background-color:#A60009;}


/* Rows */
.row0{color:#474747; background-color:black;}
.row1{color:#FFFFFF; background-color:black;}
.row2{color:#474747; background-color:black;}
.row3{color:#474747; background-color:black;}
.row4{color:#A5A6AA; background-color:black;}
.row5, .row5 a{color:#A5A6AA; background-color:#1C1D21;}

/* Header */
#header #logo h1 a{color:inherit;}

/* Introblocks */
#introblocks article{color:#474747; background-color:#FFFFFF; box-shadow:0px 0px 15px rgba(0,0,0,.1);}
#introblocks article:hover, #introblocks .active{color:#FFFFFF; background-color:#1C1D21;}
#introblocks article i{border-color:rgba(0,0,0,.1);}
#introblocks article:hover i, #introblocks .active i{color:#FFFFFF; background-color:#FF3F4A;}


/* Navigation */
#mainav{}
#mainav li a{color:inherit; border-color:transparent;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#FFFFFF; background-color:#A60009;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(255,63,74,.5);/* #FF3F4A */ border-color:rgba(255,63,74,.5);}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#A60009; border-color:rgba(255,255,255,.6);}
#mainav form select{color:#474747; background-color:#FFFFFF;}

@-ms-viewport{width:device-width;}

/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:1140px){
	.hoc{max-width:1140px;}
}
@media screen and (min-width:978px) and (max-width:1140px){
	.hoc{max-width:95%;}
}

/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:978px){
	.hoc{max-width:90%;}

	#topbar{}

	#header{padding:30px 0;}
	#header #logo{margin-top:0;}

	#mainav{}
	#mainav ul{display:none;}
	#mainav form{display:block; margin-top:8px;}

	#breadcrumb{}

	.container{}
	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#footer{}

	#copyright{}
	#copyright p:first-of-type{margin-bottom:10px;}
}

@media screen and (max-width:750px){
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.group .group > *:last-child, .clear .clear > *:last-child, .clear .group > *:last-child, .group .clear > *:last-child{margin-bottom:0;}/* Experimental - Needs more testing in different situations, stops double margin when stacking */
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0;}

	#topbar{text-align:center;}
	#topbar > div:first-of-type ul{margin:0 0 10px 0;}

	#header{text-align:center;}
	#header #logo{margin:0 0 15px 0;}

	#pageintro article, #pageintro article p{max-width:none;}
	#pageintro .heading{font-size:2rem;}

	#introblocks > ul > li{margin-bottom:50px;}
	#introblocks > ul > li:last-child{margin-bottom:0;}

	.sectiontitle{max-width:none;}
	.fixwidth{max-width:348px; margin:0 auto;}
	.overview > li:nth-last-child(-n+3){margin-bottom:50px;}

	#footer .latestimg > li, #footer .latestimg > li:nth-last-child(-n+3){display:inline-block; float:none; width:auto; margin:0 5% 5% 0;}
	#footer .latestimg > li:last-child{margin-bottom:0;}
	#footer .latestimg > li img{width:auto;}
}

@media screen and (max-width:450px){
	#topbar > div:first-of-type ul li{display:block; margin:0;}
}

/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px){
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}

	.inline li{display:block; margin-bottom:10px;}
	.pushright li{margin-right:0;}

	.font-x2{font-size:1.6rem;}
	.font-x3{font-size:1.8rem;}
}